body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#apptitle {
    font-family: "Faster One";
    font-size: 30px;
    text-decoration: underline;
}

#search {
    font-family: "Faster One";
    font-size: 50px;
}